$color-principal: black;
$color-secundario: #ffcc00; // color hover
$color-fondo: rgba(0, 0, 0, 0.75);
$color-texto: whitesmoke;
$color-titulo: rgb(0, 0, 0);

$padding-base: 10px;
$margin-base: 20px;
$font-size-titulo: 45px;